.filterGroupList {
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.rotate {
    transform: rotate(-90deg);
}

.accordion__icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}
