.heading-text {
  padding: 10px 20px;
}
@media (min-width: 768px) {
    .heading .close-xs {
        display: none;
    }
    .heading .close-sm {
        display: block;
    }
}
@media (max-width: 768px) {
    .heading {
        margin-left: -15px;
        margin-right: -15px;
    }
    .heading .close-xs {
        display: block;
    }
    .heading .close-sm {
        display: none;
    }
}
